* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.Data_Holder{display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0px auto;
  text-align:center;
}

.back, .next {
  background-color: green;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}

.button{
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}


.column {
  float: left;
  width: 50%;
  padding: 50px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

        h1 {
            color: Blue;
        }

        p {
            color: black;
        }

        span1 {
            color: Blue;
        }

        span {
            color: green;
        }