{% extends "frame.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="table-responsive text-nowrap table_on_verify_page">
                <table class="table table-sm table-striped w-auto">
                    <thead>
                    <tr>
                        {% for item in column_names %}
                            <th>{{ item }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data_part %}
                        <tr>
                            {% for data in row %}
                                <td>{{ data }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class=" jumbotron">
            <div class="form-group">
                <label for="exampleFormControlSelect2">Detected Column Names</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <button>></button>
            <button><</button>

            <div class="form-group">
                <label for="exampleFormControlSelect2">Data Columns</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="form-group">
                <label for="exampleFormControlSelect2">Select DateTime Column</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <button>Continue</button>
    </div>
{% endblock %}